@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  color: #101828;
  font-family: "Inter";
}
.App {
  background: #fff;
}
.section-center {
  padding: 4rem 1rem;
  position: relative;
}
.share-cont {
  width: 2.5rem;
  height: 2.5rem;
  top: 4rem;
  right: 0;
  transform: translate(-50%, -50%);
  border: 2px dotted #d0d5dd;
  border-radius: 50%;
  position: absolute;
}
.share {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5rem;
}
.desktop {
  display: none;
}
.image-cont {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(
    0deg,
    rgba(52, 64, 84, 0.75),
    rgba(52, 64, 84, 0.75)
  );
  cursor: pointer;
  position: relative;
  margin-bottom: 1.5rem;
}
.camera-img {
  position: absolute;
  top: 4.5rem;
  right: 25%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
  opacity: 0;
}
.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}
.image-cont:hover .profile-image {
  opacity: 0.5;
}
.image-cont:hover .camera-img {
  opacity: 1;
}
.header {
  margin-bottom: 1.5rem;
}
.slack-title {
  display: none;
}
.title-header {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.links-btn {
  padding: 1.5rem 2rem;
  margin-bottom: 0.5rem;
  background: #eaecf0;
  border-radius: 0.5rem;
  border: none;
  display: block;
  text-align: center;
  width: 100%;
  color: #101828;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
}
.links-header {
  margin-bottom: 1.5rem;
}
/* .link {
 
} */
.icons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0;
}
.icon-cont {
  width: 1rem;
  height: 1rem;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  border-top: 2px solid #d0d5dd;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.footer-text {
  color: #667085;
  font-size: 16px;
}
.zuri-cont,
.ing-cont {
  height: 1.5rem;
}
.zuri {
  height: 100%;
}
@media screen and (min-width: 768px) {
  .link {
    font-size: 18px;
  }

  .title-header {
    font-size: 20px;
    margin-bottom: 3.5rem;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .section-center {
    padding: 4rem 9rem;
  }
  .share-cont {
    right: 17.75rem;
  }
  .zuri-cont,
  .ing-cont {
    height: 2rem;
  }
}
